.tag-square {
  display: inline-block;
  min-width: 40px; /* ensures even short tags have decent width */
  padding: 0 6px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #111;
  font-weight: bold;
  border-radius: 4px;
  margin: 2px;
  text-align: center;
  background-color: gray;
  opacity: 1;
}

/* specific tag colors */
.tag-square.game {
  background-color: #dc3a27;
}
.tag-square.unity {
  background-color: #bcc3c6;
} /* for C# */
.tag-square.jam {
  background-color: #ffc404;
}
.tag-square.webgl {
  background-color: #9c0808;
}
.tag-square.vr {
  background-color: #0886fb;
}
.tag-square.openxr {
  background-color: #723b8f;
}
.tag-square.academic {
  background-color: #cb532b;
}
.tag-square.processing {
  background-color: #6c9fca;
}
.tag-square.\33 rd {
  background-color: #8a5310;
}
.tag-square.\22 nd {
  background-color: #bcc3c6;
}
.tag-square.\11 st {
  background-color: #ffc404;
}

#previewContent img,
#previewContent video {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  display: block;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111; /* dark background */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* on top of everything */
}

.spinner {
  position: relative;
  border: 24px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  animation: eat 1s linear infinite;
}
.spinner::after,
.spinner::before {
  content: "";
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  animation: move 2s linear infinite;
}

.spinner::before {
  animation-delay: 1s;
}

@keyframes eat {
  0%,
  49% {
    border-right-color: #fff;
  }
  50%,
  100% {
    border-right-color: #0000;
  }
}
@keyframes move {
  0% {
    left: 75px;
    opacity: 1;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  52%,
  100% {
    left: -5px;
    opacity: 0;
  }
}

.carousel-item img,
.carousel-item video {
  max-width: 80%;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
